<app-logout-button></app-logout-button>

<div class="grid-container">
  <div class="menu-container">
    <app-menu></app-menu>
  </div>
  <div class="content">
    <div class="container mt-5">
      <h2>Source Detail</h2>
      <div *ngIf="source" class="source-detail-card p-3 shadow rounded bg-white">
        <div class="row mb-3">
          <div class="col-md-4"><strong>ID:</strong></div>
          <div class="col-md-8">{{ source.id }}</div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4"><strong>Source Name:</strong></div>
          <div class="col-md-8">{{ source.source_name }}</div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4"><strong>User ID:</strong></div>
          <div class="col-md-8">{{ source.user_id }}</div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4"><strong>Created At:</strong></div>
          <div class="col-md-8">{{ source.date_add | date }}</div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4"><strong>Last Updated:</strong></div>
          <div class="col-md-8">{{ source.date_upd | date }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
