<app-logout-button></app-logout-button>
<div class="grid-container">
  <div class="menu-container">
    <app-menu></app-menu>
  </div>
  <div class="content">
    <div class="container mt-5">
      <h2>User Detail</h2>
      <div *ngIf="user" class="user-detail-card p-3 shadow rounded bg-white">
        <div class="row mb-3">
          <div class="col-md-4"><strong>ID:</strong></div>
          <div class="col-md-8">{{ user.id }}</div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4"><strong>Username:</strong></div>
          <div class="col-md-8">{{ user.user_name }}</div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4"><strong>Email:</strong></div>
          <div class="col-md-8">{{ user.user_email }}</div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4"><strong>Phone:</strong></div>
          <div class="col-md-8">{{ user.user_phone }}</div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4"><strong>Created At:</strong></div>
          <div class="col-md-8">{{ user.date_add | date }}</div>
        </div>
        <div class="row mb-3">
          <div class="col-md-4"><strong>Last Updated:</strong></div>
          <div class="col-md-8">{{ user.date_upd | date }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
