.grid-container {
  display: grid;
  grid-template-columns: 250px 1fr; /* Ancho fijo para el menú */
  height: 100vh;
}

.menu-container {
  background-color: #f8f9fa; /* Ajusta según tu diseño */
}

.content {
  padding: 20px;
  overflow-y: auto; /* Para permitir el desplazamiento si el contenido es grande */
}

.vh-100 {
  min-height: 100vh;
}

.bg-light {
  background: url('../../../assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.list-group-item {
  padding: 0.5rem 1rem;
}

.list-group-item .btn-link {
  padding: 0;
  color: #007bff;
  text-decoration: none;
}

.list-group-item .btn-link:hover {
  text-decoration: underline;
}
