<app-logout-button></app-logout-button>
<div class="grid-container">
  <div class="menu-container">
    <app-menu></app-menu>
  </div>
  <div class="content">
    <div class="container mt-5">
      <h2>Access List</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Access Name</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let access of accesses">
            <td>{{ access.access_name }}</td>
            <td>
              <a [routerLink]="['/accesses', access.accesstoken_id]" class="btn btn-primary btn-sm">View</a>
              &nbsp;
              <a [routerLink]="['/accesses/update', access.accesstoken_id]" class="btn btn-warning btn-sm">Edit</a>
              &nbsp;
              <button (click)="deleteAccess(access.accesstoken_id)" class="btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
